/code/commands/bibtools/sources/doi/fixtures/*.json linguist-generated
/code/commands/bibtools/sources/arxiv/fixtures/*.xml linguist-generated
/code/commands/bibtools/sources/mathnet/fixtures/*.html linguist-generated
