[tool.poe.tasks]
test = "pytest"
coverage.sequence = [
  { cmd = "coverage run -m pytest" },
  { cmd = "coverage html" }
]

[tool.poe.tasks.upgrade]
# Based on https://github.com/python-poetry/poetry/issues/461#issuecomment-3045151488
shell = " poetry show --top-level --format json --only $group | jq --raw-output '.[].name' | xargs -I{} poetry add --group $group {}@latest"
args = [
  { name = "group", positional = true, default = "main" }
]

[tool.poe.tasks.ruff]
sequence = [
  { cmd = "ruff check $path" },
]
args = [
  { name = "path", positional = true, default = "" }
]

[tool.poe.tasks.mypy]
sequence = [
  { cmd = "mypy $path" }
]
args = [
  { name = "path", positional = true, default = "" }
]

[tool.poe.tasks.lint]
sequence = [
  { cmd = "ruff check $path" },
  { cmd = "mypy $path" }
]
args = [
  { name = "path", positional = true, default = "" }
]

[tool.poe.tasks.format]
cmd = "ruff check --fix $path"
args = [
  { name = "path", positional = true, default = "" }
]
