[tool.poe.tasks.test]
cmd = "pytest"

[tool.poe.tasks.coverage]
sequence = [
  { cmd = "coverage run" },
  { cmd = "coverage html" }
]

[tool.poe.tasks.lint]
sequence = [
  { cmd = "ruff check $path" },
  { cmd = "mypy $path" }
]
args = [
  { name = "path", positional = true, default = "" }
]

[tool.poe.tasks.format]
cmd = "ruff check --fix $path"
args = [
  { name = "path", positional = true, default = "" }
]
