[project]
name = "notebook"
version = "1.0.0"
description = "Python code corresponding to my math notebook"
license = "Unlicense"
readme = "README.md"
requires-python = ">=3.14, <4.0"
authors = [
  { name = "Ianis Vasilev", email = "ianis@ivasilev.net" }
]

[project.urls]
Repository = "https://github.com/v--/notebook.git"

[project.optional-dependencies]
commands = [
  "click (>=8.3.1)",
  "loguru (>=0.7.3)",
]

watcher = [
  "notebook[commands]",
  "asyncinotify (>=4.4.0)",
  "texoutparse @ git+https://github.com/v--/texoutparse.git",
  "xvfbwrapper (>=0.2.20)",
]

bibtools = [
  "notebook[commands]",
  "iso639-lang (>=2.6.3)",
  "nameparser (>=1.1.3)",
  "pydantic (>=2.12.5)",
  "python-stdnum (>=2.2)",
  "stop-words (>=2025.11.4)",
  "titlecase (>=2.4.1)",
  "xsdata (>=26.2)",
]

figures = [
  "numpy (>=2.4.2)",
  "pillow (>=12.1.1)",
]

[project.scripts]
watcher = "notebook.commands.watcher:watch"
format-matrices = "notebook.commands.format_matrices:format_matrices"
bibtools = "notebook.commands.bibtools:bibtools"
find-obsolete-figures = "notebook.commands.find_obsolete_figures:find_obsolete_figures"

# These should ideally go as CLI invocations into some standardized configuration, like the ones discussed in
#   https://discuss.python.org/t/idea-introduce-standardize-project-development-scripts/67194
# For now, they are Python wrappers for CLI tools, which allows running them via `uv run <command>`
lint = "scripts.lint:run_linters"
format = "scripts.format:run_formatters"
test = "pytest:console_main"
coverage = "scripts.coverage:get_coverage"
benchmark = "scripts.benchmark:run_benchmark"
check_cites = "scripts.check_cites:run_checkcites"

[dependency-groups]
dev = [
  "beautifulsoup4 (>=4.14.3)",
  "coverage (>=7.13.4)",
  "mypy (>=1.19.1)",
  "pytest (>=9.0.2)",
  "pytest-benchmark (>=5.2.3)",
  "pytest-loguru (>=0.4.0)",
  "pytest-profiling (>=1.8.1)",
  "pytest-xdist (>=3.8.0)",
  "ruff (>=0.15.2)",
  "types-beautifulsoup4 (>=4.12.0.20250516)",
]

[build-system]
requires = ["uv_build (>=0.10.5, <0.11.0)"]
build-backend = "uv_build"

# pytest
[tool.pytest.ini_options]
addopts = "--capture tee-sys"

# ruff
[tool.ruff]
extend = "./ruff.toml"

# mypy
[tool.mypy]
packages = ["notebook"]

[[tool.mypy.overrides]]
module = [
  "asyncinotify.*",
  "iso639.*",
  "loguru.*",
  "nameparser.*",
  "pytest_benchmark.*",
  "pytest_loguru.*",
  "stop_words.*",
  "texoutparse.*",
  "titlecase.*",
  "xvfbwrapper.*",
]
ignore_missing_imports = true
